.search_win .search_main {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 5000;
  }

.search_inp {
    width: 60%;
    height: 50px;
    border: none;
    font-size: 34px;
    font-weight: 700;
}

.search_but {
    font-family: "ultrahumanoregular";
    border: none;
    height: 50px;
    outline: none;
    width: 20%;
    font-size: 22px;
}